<!DOCTYPE html>
<html>
	<head>
		<link ref="stylesheet" href="normalize.css/normalize.css"/>
		<link rel="stylesheet" href="src/css/style.css"/>
	</head>
	<body>
		{{> patients}}
		<script type="text/javascript" src="jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="src/js/main.js"></script>
	</body>	
</html>