/* 			    */
/*------------------------------------------------------------------

[Color codes]

Background:	#ffffff (white)
Content:	#1e1e1e (light black)
Header h1:	#9caa3b (green)
Header h2:	#ee4117 (red)
Footer:		#b5cede (dark black)

a (standard):	#0040b6 (dark blue)
a (visited):	#5999de (light blue)
a (active):	#cc0000 (pink)

[Typography]

Body copy:		1.2em/1.6em Verdana, Helvetica, Arial, Geneva, sans-serif;
Headers:		2.7em/1.3em Helvetica, Arial, "Lucida Sans Unicode", Verdana, sans-serif;
Input, textarea:	1.1em Helvetica, Verdana, Geneva, Arial, sans-serif;
Sidebar heading:	1.5em Helvetica, Trebuchet MS, Arial, sans-serif;

Notes:	decreasing heading by 0.4em with every subsequent heading level

--------------------------------------------------------------------*/
@font-face {
  font-family: 'FontAwesome';
  src: url('font-awesome-4.2.0/fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('font-awesome-4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('font-awesome-4.2.0/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('font-awesome-4.2.0/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('font-awesome-4.2.0/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
  font-family: 'fontAwesome';
  font-style: normal;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}
.logo-icon:before {
  content: "\f1cc";
  font-size: 2em;
  color: red;
}
/* 			    */
/* Border Stuff */
/*			    */
html {
  color: #333;
  padding: 2%;
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  background: white;
  box-shadow: 0 3px 0 #296e85;
  color: #4baac8;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  text-align: center;
  width: 50%;
}
h2 {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  background: white;
  box-shadow: 0 3px 0 #296e85;
  color: #4baac8;
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  text-align: center;
  width: 50%;
}
h3 {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  background: white;
  box-shadow: 0 3px 0 #296e85;
  color: #4baac8;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  text-align: center;
  width: 50%;
}
h4 {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  background: white;
  box-shadow: 0 3px 0 #296e85;
  color: #4baac8;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  text-align: center;
  width: 50%;
}
h5 {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  background: white;
  box-shadow: 0 3px 0 #296e85;
  color: #4baac8;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  text-align: center;
  width: 50%;
}
h6 {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  background: white;
  box-shadow: 0 3px 0 #296e85;
  color: #4baac8;
  font-size: 0.5em;
  font-family: 'Raleway', sans-serif;
  padding: 1%;
  text-align: center;
  width: 50%;
}
img {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  float: right;
  box-shadow: 0 0 5px 3px #add8e6;
}
p {
  padding: 1%;
}
table {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
}
table tr {
  background-color: #86c5da;
}
table tr td {
  border-top: 1px solid #99cfe0;
  background-color: #ffffff;
  padding: 5%;
}
table th {
  padding: 5%;
}
th:first-child {
  border-radius: 10px 0 0 0;
}
th:last-child {
  border-radius: 0 10px 0 0;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
blockquote {
  -mox-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  -ms-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: white;
  box-shadow: 0 0 5px 3px #e8f4f8;
  color: #4baac8;
  font-size: 2em;
  font-style: italic;
  font-weight: 600;
  padding: 1%;
  width: 50%;
}
blockquote p {
  color: #5fb3ce;
  font-size: 0.5em;
  font-style: normal;
  font-weight: 500;
}
