.openerp .oe_list_content > tbody > tr > td.oe_list_field_cell {
    white-space: inherit !important;
}

.oe_company_logo {
    float: right;
    width: 40%;
}

.t4clinical_kanban_card_clinical_risk {
  background: #f0eeee !important;
}
.t4clinical_kanban_column_clinical_risk_none {
  background-color: #cccccc !important;
}
.t4clinical_kanban_column_clinical_risk_high {
  background-color: #ffc7c7 !important;
}
.t4clinical_kanban_column_clinical_risk_medium {
  background-color: #fff1c7 !important;
}
.t4clinical_kanban_column_clinical_risk_low {
  background-color: #e3ffc7 !important;
}
.t4clinical_kanban_column_clinical_risk_no {
  background-color: #c7ffd5 !important;
}

.t4c_wardboard [data-id="full_name"]{
    width: 250px;
}
.t4c_wardboard [data-field="ews_score_string"]{
    text-align: center;
}
.t4c_wardboard .oe_list_content > tbody > tr {
    height: 50px;
}
.t4c_wardboard .oe_list_content .oe_group_header {
    height: 25px;
}

.t4_ewschart {
    position: relative !important;
}