@import "utils.less";

.alert{
  border-radius: 5px;
  padding: 2%;
  &.alert-error{
    .subtle-bgcolour(@error-color);
    color: white;
    text-shadow: 0px 1px 1px #444444;
  }
}




.obsChange .obsSelectField{
  border-bottom: 0px solid black !important;
  padding-bottom: 0px !important;
}
.obsChange .obsSubmit{
  padding-bottom: 0px !important;
}
