@import "utils.less";
@font-face {
  .font-awesome;
}

.block{
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  .block{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
  }
}


// Patient Info Screen
a.patientInfo{
  display: block;
  position: relative;
  .name{
    width: 50%;
  }
  .obs{
    width: 40%;
    position: absolute;
    right: 0;
    top: 0em;
    text-align: right;
    padding: 0.3em 2%;
    border-radius: 5px;
    color: #ffffff;
    text-shadow: 0px 1px 0px #666666;
    background-color: @action-colour;
  }
}

#obsButton{
  margin-bottom: 2em;
}

// content
.content{
  margin-top: 6.5em;
  &.no-menu{
    margin-top: 4em;
  }
}

.share-content{
  margin-bottom: 3.3em;
}

// tasks.scala.html


.footer{
  height: 1.5em;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: inherit;
  padding-left: 0;
  display: inline-block;
  .user{
    color: rgba(0,0,0,0.3);
    float: right;
    padding: 0;
    margin: 0;
    margin-left: 5%;
  }
}

.alert{
  border-radius: 5px;
  padding: 2%;
  &.alert-error{
    .subtle-bgcolour(@error-color);
    color: white;
    text-shadow: 0px 1px 1px #444444;
  }
}



// icons
i{
  font-family: 'fontAwesome';
  font-style: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-info:before{
   content: "\f05a";
}
.icon-person:before{
   content: "\f007";
}
.icon-alert:before{
   content: "\f071";
}
.icon-left-arrow:before{
  content: "\f060"
}
.icon-up-arrow:before{
  content: "\f062"
}
.icon-down-arrow:before{
  content: "\f063"
}


span.alignright{
   float: right;
}

li.rightContent{
  position: relative;
  span.aside{
    position: absolute;
    right: 5%;
  }
}

li.popuprightContent{
  position: relative;
  span.aside{
    position: absolute;
    right: 5%;
    width: 10%;
    top: -0.3em;
  }
}


div.contextPopup {
  position: absolute;
  text-align: center;
  width: 5%;
  height: inherit;
  padding: 0.4em 0.25%;
  font: 0.8em sans-serif;
  background: rgba(0,0,0,0.7);
  border: solid 0px rgba(0,0,0,0.7);
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  pointer-events: none;
  color: white;
}

.obsChange .obsSelectField{
  border-bottom: 0px solid black !important;
  padding-bottom: 0px !important;
}
.obsChange .obsSubmit{
  padding-bottom: 0px !important;
}







.share-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 101%;
  .user{
    text-align: right;
    margin-right: 6%;
    color: rgba(0,0,0,0.3);
  }
}


