.openerp .oe_kanban_view .oe_kanban_card > .kanban-card-header-alert{
    margin: -5px !important;
    margin-bottom: 5px !important;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.oe_list_field_cell > .rapid_tranq_string{
    color: black;
}