/*** uncss> filename: test/kiosk_style.css ***/

.tasks {
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  box-shadow: 0 0 2px 1px #a6a6a6;
}

.tasks ul {
  padding: 2% 2% 3% 3%;
  margin: 0;
  list-style-type: none;
}

.tasks ul li {
  text-decoration: none;
  display: inline-block;
}

.tasks .section-one {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-top-color: rgba(255, 255, 255, 0.6);
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  font-weight: 900;
}

.tasks .section-two ul {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  line-height: 2em;
}

.tasks .section-two ul li {
  border: none;
}

.tasks .section-two ul li.p-info {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  font-weight: 800;
}

.tasks .section-two ul li.last {
  border: none;
  padding-left: 4%;
  font-weight: 600;
}

.tasks .section-three {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tasks .section-three ul {
  display: block;
  line-height: 1em;
  vertical-align: middle;
}

.tasks .section-three ul li.num-id {
  padding-right: 47%;
  color: #3d3d3d;
}

.tasks.low .section-one {
  background: -webkit-linear-gradient(#4cd29d, #2aa776);
  color: #262626;
}

.tasks.low .section-two {
  background: -webkit-linear-gradient(#4cd29d, #89e1be);
}

.tasks.low .section-three {
  background: -webkit-linear-gradient(#4cd29d, #2aa776);
}

.tasks.mid .section-one {
  background: -webkit-linear-gradient(#f9d96a, #f6c620);
}

.tasks.mid .section-two {
  background: -webkit-linear-gradient(#f9d96a, #fcecb4);
}

.tasks.mid .section-three {
  background: -webkit-linear-gradient(#f9d96a, #f6c620);
}

.tasks.high .section-one {
  background: -webkit-linear-gradient(#fcaa73, #fa7d28);
  color: #262626;
}

.tasks.high .section-two {
  background: -webkit-linear-gradient(#fcaa73, #fed7be);
}

.tasks.high .section-three {
  background: -webkit-linear-gradient(#fcaa73, #fa7d28);
}

.tasks.no .section-one {
  background: -webkit-linear-gradient(#ffffff, #d9d9d9);
}

.tasks.no .section-two {
  background: -webkit-linear-gradient(#ffffff, #ffffff);
}

.tasks.no .section-three {
  background: -webkit-linear-gradient(#ffffff, #d9d9d9);
}

.tasks.unknown .section-one {
  background: -webkit-linear-gradient(#c0c0c0, #9a9a9a);
  color: #262626;
}

.tasks.unknown .section-two {
  background: -webkit-linear-gradient(#c0c0c0, #e6e6e6);
}

.tasks.unknown .section-three {
  background: -webkit-linear-gradient(#c0c0c0, #9a9a9a);
}

.oe_leftbar.nh_kiosk_nav {
  width: 100%;
}

.oe_leftbar.nh_kiosk_nav > div {
  height: inherit;
  display: inline-block;
  width: 100%;
}

.oe_leftbar.nh_kiosk_nav > div a.oe_logo {
  display: inline-block;
  width: 10%;
  float: left;
}

.oe_leftbar.nh_kiosk_nav > div .oe_footer {
  display: none;
}

.oe_leftbar.nh_kiosk_nav > div > div {
  display: inline-block;
  width: 90%;
  height: inherit;
}

.oe_leftbar.nh_kiosk_nav > div > div > div {
  height: inherit;
  width: 100%;
}

.oe_leftbar.nh_kiosk_nav > div > div > div .oe_secondary_menus_container {
  position: relative !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.oe_leftbar.nh_kiosk_nav > div > div > div .oe_secondary_menus_container .oe_secondary_menu .oe_secondary_menu_section {
  width: inherit;
  display: inline-block;
  float: left;
}

.oe_leftbar.nh_kiosk_nav > div > div > div .oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu {
  display: inline;
  float: left;
}

.oe_leftbar.nh_kiosk_nav > div > div > div .oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu:before {
  display: inline;
}

.oe_leftbar.nh_kiosk_nav > div > div > div .oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu:after {
  clear: none;
}

.oe_leftbar.nh_kiosk_nav > div > div > div .oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li {
  float: left;
}

.oe_leftbar.nh_kiosk_nav > div > div > div .oe_secondary_menus_container .oe_secondary_menu .oe_secondary_submenu li a .oe_menu_text {
  max-width: inherit;
}

