.openerp .oe_list_content > tbody > tr > td.oe_list_field_cell {
    white-space: inherit !important;
}

.oe_company_logo {
    float: right;
    width: 40%;
}

.nh_eobs_hide > div {
    display: none;
}

.nh_eobs_show > div {
    display: table-cell;
}

.nhc_obs_list .oe-treeview-table td.oe_number{
    text-align: center !important;
}
.nhc_obs_list .oe-treeview-table td{
    text-align: center !important;
}

.nhc_obs_list .oe_list_content td.oe_number{
    text-align: center !important;
}
.nhc_obs_list .oe_list_content td{
    text-align: center !important;
}

.nhclinical_kanban_card_clinical_risk {
  background: #f0eeee !important;
}
.nhclinical_kanban_column_clinical_risk_none {
  background-color: #e5dfff !important;
}
.nhclinical_kanban_column_clinical_risk_high {
  background-color: #ffc7c7 !important;
}
.nhclinical_kanban_column_clinical_risk_medium {
  background-color: #fff1c7 !important;
}
.nhclinical_kanban_column_clinical_risk_low {
  background-color: #e3ffc7 !important;
}
.nhclinical_kanban_column_clinical_risk_no {
  background-color: #c7ffd5 !important;
}

.nhc_wardboard [data-id="full_name"]{
    width: 250px;
}
.nhc_wardboard .oe_list_content > tbody > tr {
    height: 50px;
}
.nhc_wardboard .oe_list_content .oe_group_header {
    height: 25px;
}

.nh_eobs_overdue .oe_list_content td.oe_number{
    text-align: left !important;
}

.nhc_obs [data-id="date_terminated"]{
    width: 250px;
}
.nhc_obs [data-id="terminate_uid"]{
    width: 250px;
}
.nhc_obs .oe_list_content td.oe_number{
    text-align: left !important;
}

.nh_ewschart {
    position: relative !important;
}

.openerp .oe_application .oe_breadcrumb_item {
    max-width: 50em !important;
}

.nhc_pbp [data-id="systolic_sitting"], .nhc_pbp [data-id="systolic_standing"], .nhc_pbp [data-id="diastolic_sitting"], .nhc_pbp [data-id="diastolic_standing"]{
    text-align: center !important;
}

.nhc_kanban_color_red {
    color: white;
    background-color: #E66565 !important;
}

.nhc_kanban_color_green {
    background-color: #4DB84D !important;
}

.paged_form_view_header{
    padding: 0;
    float: none !important;
    margin-bottom: 0;
    margin-left: 1px !important;
    vertical-align: middle;
    margin-top: 0.5em;
}
.paged_form_view_header li{
    display: inline;
    float: left;
    padding: 0.2em 10px;
}
.paged_form_view_header li .oe_form_field{
    width: inherit !important;
    padding: 0 !important;
    margin-top: 1px;
}

.paged_form_view_title .oe_view_title{
    margin-left: 15px !important;
}
.paged_form_view_pager .oe_view_manager_pager{
    margin-right: 15px !important;
}

.paged_table .oe_form_sheetbg, .paged_table .oe_form_sheetbg .oe_form_sheet{
    padding: 0 !important;
}
 .paged_table .oe_form_sheetbg .oe_form_sheet{
     max-width: 100%;
     width: 100%;
     margin: 0;
 }

 .nh-user-allocation-form{
     padding: 1em 15px 6em 15px;
 }

 .openerp .nh_oe_number_fix .oe_list_content td.oe_list_field_cell.oe_number{
     text-align: left !important;
 }