body{
    width: 21cm;
    margin: 0px;
    font-family: DejaVu Sans, sans-serif;
    font-size: 10pt;
}
table,td{
    border: 0px solid white;
}
.page{
    margin: 0px;
    position: relative;
    display: inline-block;
    page-break-before: always !important;
    width: 100%;
}
.page:first-child{
    height: 30.55cm;
}
.no_obs .page:first-child{
    height: inherit !important;
}
.row{
    width: 100%;
    float: none;
    display: inline-block;
}
text{
    font-size: 6pt !important;
    font-family: DejaVu Sans !important;
}
text.title{
  font-size: 18pt !important;
    font-weight: bold;
}
h1, h2, h3, h4{
    margin-top: 0px;
}
h1{
    font-weight: normal;
    font-size: 2.5em;
}
h2{
    font-size: 1.6em;
    margin-bottom: 0.3em;
}
h3{
    font-size: 1.2em;
}
table{
    border-collapse: collapse;
    border: 0px solid black;
    /*font-size: 24pt;*/
    font-size: 10pt;
    page-break-inside: auto;
}
.full-page table{
    border: 1px solid #282828;
}
td:first-child{
    font-weight: bold;
    font-family: DejaVu Sans !important;
    padding-left: 0px;
    /*padding-right: 24px;*/
    padding-right: 0.6cm;
    width: 40%;
}
.h-small-ratio td:first-child{
    width: 50%;
}
td{
    padding-left: 0cm;
    padding-right: 0cm;
    padding-top: 0.7em;
    vertical-align: top;
}
.v-small-ratio, .v-big-ratio{
    margin: 0px;
    padding: 0px;
    display: block;
}

.h-small-ratio, .h-big-ratio{
    display: inline-block;
}
.h-small-ratio, .h-small-ratio.left, .h-small-ratio.right{
    /*width: 646px;
    min-width: 646px;*/
    width: 6cm;
    min-width: 6cm;
}
.h-big-ratio, .h-big-ratio.left, .h-big-ratio.right{
    /*width: 1075px;
    min-width: 1075px;*/
    width: 13.8cm;
    min-width: 13.8cm;
}
.left{
    float: left;
    /*padding-right: 48px;*/
    padding-right: 1.2cm;
}
.right{
    float: right;
    /*padding-left: 48px;*/
    padding-left: 1.2cm;
}
.v-big-ratio h3{
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}
.full-page table{
    width: 100%;
    border-collapse: collapse;
}
.full-page tr{
    page-break-inside: avoid;
    page-break-after: auto;
}
.full-page td{
    font-weight: normal !important;
    vertical-align: top;
    padding: 1em 1%;
    text-align: center;
    border-left: 1px solid black;
    page-break-inside: avoid;
}
.full-page th, #the_unplottables th{
    /*padding: 0px 24px; */
    padding: 0.5em 1%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    background-color: #324eb7;
    color: white;
    display: table-cell;
    font-weight: bold !important;
}
.full-page tr td:first-child{
    text-align: left !important;
    border-left: 0px solid black !important;
    /*padding-left: 0px;*/
}
.full-page table td table td{
    padding: 0px;
    padding-bottom: 1em;
    margin: 0px;
    border: 0px solid black;
}
.striped>tbody>tr:nth-child(even){
    background-color: rgb(239, 239, 239);
    page-break-after: always;
    page-break-inside: avoid;
}
.striped tr{
    page-break-inside: avoid;
    page-break-before: always;
}
/*.striped>tbody>tr>td:last-child{
    display: inline-block;
}
.striped>tbody>tr>td:last-child:after{
    display: block;
    height: 0px;
    visibility: hidden;
} */
.pre-compact-data{
    width: 100% !important;
}
.pre-compact-data td{
    padding-bottom: 0px !important;
}
.compact-data{
    width: 100% !important;
    border: 0px solid #282828 !important;
    margin-bottom: 1em;
    background-color: white;
}
.pre-compact-data tr:last-child .compact-data{
    margin-bottom: 0px;
}
.compact-data td {
    padding: 0.5em 3% !important;
}
.compact-data td.header{
    background-color: black;
}
.compact-data td.header h4 {
    color: white;
    margin-bottom: 0px;
}

.pbp-data{
    border-left: 0px solid black;
}

.pbp-data th{
    background-color: black;
}
.pbp-data td{
    border-left: 1px solid black !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.pbp-data td:first-child{
    padding-left: 5%;
}


/* svg stuff */
svg .axis path,
svg .axis line {
    fill: none;
    stroke: #262626;
    shape-rendering: crispEdges;
}
svg .axis text {
    font-family: sans-serif;
}
svg .background .green {
    fill: #ccffcc;
}
svg .background .amber {
    fill: #ffe9c8;
}
svg .background .red {
    fill: #ffcccc;
}
svg .background .normal {
    fill: white;
    stroke: rgba(0, 0, 0, 0.2);
}
svg .background line {
    fill: none;
    stroke: rgba(0, 0, 0, 0.15);
    shape-rendering: crispEdges;
}
svg .brush {
    fill: rgba(0, 0, 0, 0.3);
}
svg .data path {
    fill: none;
    stroke: rgba(40, 40, 40, 0.6);
    shape-rendering: optimizeSpeed;
}
#chart_popup {
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: inline-block;
    padding: 0.5em 1%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    margin-top: -2.2em;
    margin-left: -1.5%;
}
#chart_popup.hidden {
    display: none;
}

.nhtable {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nhtable thead tr th {
    text-align: center;
    font-size: 0.8em;
    border-bottom: 1px solid #262626;
    border-left: 1px solid #262626;
}
.nhtable thead tr th:first-child {
    text-align: left;
    padding-left: 0px;
    border-left: 0px solid black;
}
.nhtable tbody tr:nth-child(even) {
    background-color: #dddddd;
}
.nhtable tbody tr td {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    border-left: 1px solid #262626;
}
.nhtable tbody tr td:first-child {
    text-align: left;
    padding-left: 0px;
    border-left: 0px solid black;
}

#controls{
    display: inline-block;
    float: right;
    width: 120px;
    position: absolute;
    right: 10%;
    top: 4em;
}
#controls #range{
    width: 100%;
}
#controls #range label{
    width: 100%;
}
#controls #range label h4{
    float: left;
}
#controls #range label input{
    float: right;
}


.nhcontext{
    background-color: red;
}
.nhfocus{
    background-color: blue;
}