.tasklist{
    background-color: rgb(160,160,160);
}
.tasklist li{
    padding-left: 5%;
}
.tasklist>li{
    padding-top: 2em;
}
.tasklist ul{
    list-style: none;
    padding: 0px;
}
.tasklist li a{
    display: inline-block;
    padding: 0px;
    border: 1px solid #eeeeee;
    position: relative;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgb(100,100,100);
    background-color: white !important;
}
.tasklist li a .task-meta{
    width: 10%;
    clear: right;
    float: left;
    display: inline-block;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -1px;
    margin-left: -1px;
    position: absolute;
    height: 102%;
}
.task-meta.red{
    background-color: red;
}
.tasklist .task-meta li{
    height: 47%;
    text-align: center;
    color: white;
}
span.score{
    font-size: 3em;
}
span.trend{
    font-size: 2em;
    vertical-align: top;
}
li.icon{
    vertical-align: bottom;
    font-size: 3em;
}
.task-content{
    margin-left: 10%;
    margin-top: -1px;
}
.task-content li{
    padding-left: 3%;
}
li.title{
    font-size: 2em;
    font-weight: bold;
}
.tasklist .info ul{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    width: 100%;
}
.tasklist .info li{
    padding: 0px;
    float: left;
    width: 45%;
}
.tasklist .info .patient{
    text-align: right;
}

.barcode_scan{
    margin-bottom: 1em;
    border-radius: 5px;
    width: 100%;
}