article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  height: 100%;
}
a {
  background: transparent;
  text-decoration: none !important;
  color: #000000;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 1.7em;
  line-height: 1.1;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
h3 {
  font-size: 1.5em;
  line-height: 1.1;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  padding-top: 1em;
}
h4 {
  font-size: 1.4em;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
h5 {
  font-size: 1.3em;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
h6 {
  font-size: 1.2em;
  line-height: 1;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
}
p {
  font-size: 1em;
  line-height: 1.4;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
li a {
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 0.7em;
  margin-bottom: 0.2em;
  font-size: 2em;
  line-height: inherit;
  color: #282828;
  border: 0;
  font-weight: bold;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
/*output {
  display: block;
  padding-top: (@padding-base-vertical + 1);
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  vertical-align: middle;
}     */
input {
  display: block;
  width: 96%;
  height: 2.4em;
  padding: 0.3em 2% 0.3em 2%;
  font-size: 1em;
  line-height: 1.4;
  color: #000000;
  vertical-align: middle;
  background-image: none;
  border: 1px solid #999999;
  border-radius: 5px;
  margin-bottom: 1em;
}
input[disabled],
input[readonly],
fieldset[disabled] input {
  cursor: not-allowed;
  background-color: #888888;
}
textareainput {
  height: auto;
}
input:focus {
  box-shadow: inset 0px 0px 5px #a9dbff;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  display: block;
  min-height: 1.4em;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.block {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.block .block {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}
button,
.button {
  padding: .3em 2% .3em 2%;
  font-size: 1em;
  line-height: 1.4;
  height: 2.4em;
  border-radius: 5px;
  background-color: #888888;
  border: 1px solid #888888;
  text-decoration: none;
}
button.alignright,
.button.alignright {
  float: right;
  display: inline-block;
  clear: left;
}
button.go,
.button.go {
  background-color: #22b232;
  color: #ffffff;
  text-shadow: 0px 1px 0px #666666;
  border: 1px solid #40b21b;
}
button.back,
.button.back {
  background-color: #4491ce;
  color: #ffffff;
  text-shadow: 0px 1px 0px #666666;
  border: 1px solid #a9dbff;
}
a.patientInfo {
  display: block;
  position: relative;
}
a.patientInfo .name {
  width: 50%;
}
a.patientInfo .obs {
  width: 40%;
  position: absolute;
  right: 0;
  top: 0em;
  text-align: right;
  padding: 0.3em 2%;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0px 1px 0px #666666;
  background-color: #ea3172;
}
.header {
  display: inline-block;
  padding-top: 0.5em;
  margin-bottom: 5px;
  box-shadow: 0px 1px 3px #888888;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  width: 100%;
  z-index: 99;
}
.header.no-menu {
  padding-bottom: 0.7em;
}
.header .header-main {
  height: 42px;
}
.header .barcode_block {
  height: 60px;
}
.header .logo {
  float: left;
  width: 118px;
  height: auto;
}
.header .header-meta {
  float: right;
  list-style: none;
  margin: 0;
  margin-top: 0.45em;
  width: 200px;
  padding-left: 0;
}
.header .header-meta li {
  display: inline;
}
.header .header-meta .scan {
  padding-left: 5px;
  padding-right: 5px;
}
.header .header-meta .logout {
  float: right;
}
.header .header-meta .logout .button {
  padding-left: 5px;
  padding-right: 5px;
}
.header .urgent-badge {
  background-color: #ea3172;
  color: #ffffff;
  border-radius: 5px;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  line-height: 1.5;
  font-size: 0.8em;
  font-weight: normal;
  text-shadow: 0px 1px 0px #000000;
}
.header-menu,
.dialog .options,
.tabs {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #eeeeee;
  list-style: none;
  background-color: #ffffff;
}
.header-menu li,
.dialog .options li,
.tabs li {
  display: inline;
  float: left;
  background-color: #ffffff;
}
.header-menu li a,
.dialog .options li a,
.tabs li a {
  width: 90%;
  padding: 1em 5% 1em 5%;
  display: block;
  text-align: center;
  background-color: #ffffff;
  color: #4491ce;
  font-weight: normal;
}
.header-menu li a.selected,
.dialog .options li a.selected,
.tabs li a.selected,
.header-menu li a.confirm,
.dialog .options li a.confirm,
.tabs li a.confirm {
  color: #ea3172;
  font-weight: bold;
}
.header-menu.two-col li,
.dialog .options.two-col li,
.tabs.two-col li,
.header-menu.twocol li,
.dialog .options.twocol li,
.tabs.twocol li {
  width: 50%;
}
.header-menu.three-col li,
.dialog .options.three-col li,
.tabs.three-col li,
.header-menu.threecol li,
.dialog .options.threecol li,
.tabs.threecol li {
  width: 33%;
}
.header-menu.two-col li:first-child,
.dialog .options.two-col li:first-child,
.tabs.two-col li:first-child,
.header-menu.twocol li:first-child,
.dialog .options.twocol li:first-child,
.tabs.twocol li:first-child {
  border-right: 1px solid #eeeeee;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-menu.three-col li:first-child,
.dialog .options.three-col li:first-child,
.tabs.three-col li:first-child,
.header-menu.threecol li:first-child,
.dialog .options.threecol li:first-child,
.tabs.threecol li:first-child {
  border-right: 1px solid #eeeeee;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header-menu.three-col li:last-child,
.dialog .options.three-col li:last-child,
.tabs.three-col li:last-child,
.header-menu.threecol li:last-child,
.dialog .options.threecol li:last-child,
.tabs.threecol li:last-child {
  border-left: 1px solid #eeeeee;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tabs {
  border-top: 0px solid black;
  margin-bottom: 5em;
}
.tabs li {
  border: 1px solid #eeeeee;
  width: 49.5% !important;
}
.tabs li:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.tabs li:first-child a {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.tabs li:last-child {
  border-left: 0px solid black;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.tabs li:last-child a {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.content {
  margin-top: 6.5em;
}
.share-content{
    margin-bottom: 3.3em;
}
.content.no-menu {
  margin-top: 4em;
}
.tasklist {
  margin: 0;
  padding: 0;
}
.tasklist li a {
  display: block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #eeeeee;
  position: relative;
}
.tasklist li a .task-meta {
  width: 100%;
  clear: both;
  float: none;
}
.tasklist li a .task-right {
  float: right;
  width: 27.5%;
  margin-left: 2.5%;
  margin-top: 0px;
  text-align: right;
  font-weight: bold;
}
.tasklist li a .task-right p {
  margin-top: 0px;
  margin-bottom: 1em;
}
.tasklist li a .task-left {
  float: left;
  width: 67.5%;
  margin-right: 2.5%;
  text-align: left;
  margin-top: 0px;
}
.tasklist li a h2 {
  width: 65%;
  color: #262626;
}
.tasklist li a p {
  color: #000000;
}
.tasklist li a p.taskInfo {
  text-decoration: underline;
}
.tasklist li a.level-one {
  background-color: #ccffcc;
}
.tasklist li a.level-two {
  background-color: #ffdfbe;
}
.tasklist li a.level-three,
.tasklist li a.urgent {
  background-color: #ffcccc;
}
.tasklist li a.level-not-set {
  background-color: #e5dfff;
}
#patientName {
  margin-top: -2px;
  position: fixed;
  background-color: white;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  z-index: 9997;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#patientName a {
  text-decoration: none;
  color: #282828;
  width: 100%;
  display: block;
}
#patientName .icon-info {
  float: right;
}
#obsForm {
  padding-top: 3em;
}
#obsForm .obsField {
  border-bottom: 1px solid #888888;
  padding-top: 1em;
  padding-bottom: 0.7em;
  height: 3.4em;
}
#obsForm .obsField .input-header label {
  width: 45%;
  float: left;
  font-size: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
#obsForm .obsField .input-header input {
  width: 45%;
  float: right;
}
#obsForm .obsField.error {
  background-color: #ffcccc !important;
  height: 4.4em;
}
#obsForm .obsField.warning {
  background-color: #ffdfbe;
  height: 4.4em;
}
#obsForm .obsField.warning.error {
  height: 5em !important;
}
#obsForm .obsField .input-body .errors {
  display: block;
}
#obsForm .obsField .input-body .help {
  display: inline-block;
  width: 43%;
}
#obsForm .obsField .targetString {
  font-style: italic;
}
#obsForm .obsSelectField {
  border-bottom: 1px solid #888888;
  padding-top: 1em;
  padding-bottom: 1em;
}
#obsForm .obsSelectField .input-header label {
  font-size: 1.2em;
  padding-top: 0.6em;
}
#obsForm .obsSelectField.error {
  background-color: #ffcccc;
}
#obsForm .obsSelectField.warning {
  background-color: #ffffff;
}
#obsForm .input-body {
  padding-top: 1em;
}
#obsForm .input-body input[type="range"] {
  -webkit-appearance: none;
  background-color: #4491ce !important;
  height: 0.5em;
  padding: 0;
  width: 100%;
  border-radius: 20px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  margin-top: 1em;
}
#obsForm .input-body input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #ea3172;
  box-shadow: 0xp 0px 5px rgba(0, 0, 0, 0.6);
}
#obsForm .input-body select {
  width: 100%;
  height: 2.4em;
  padding: 0.3em 2% 0.3em 2%;
  font-size: 1em;
  line-height: 1.4;
  border-radius: 5px;
  border-color: #4491ce;
  color: #ea3172;
  font-weight: bold;
  background-color: #ffffff;
  margin-bottom: 1em;
}
#obsForm .input-body .button {
  background-color: #ea3172;
  color: #ffffff;
  text-shadow: 0px 1px 0px #666666;
  width: 95%;
  display: inline-block;
  padding-top: 1em;
  padding-bottom: 0px;
  text-align: center;
}
#obsForm .obsSubmit {
  padding-top: 2em;
  /* padding-bottom: 1em; */
}
#obsForm .obsSubmit input {
  background-color: #ea3172;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0px 1px 0px #666666;
  border: 1px solid #ff9494;
  font-size: 1.2em;
  height: 2.4em;
  width: 100%;
}
.obsConfirm {
  margin: 0px;
}
.obsConfirm #cancelSubmit {
  padding: 0px;
}
.obsSubmit .button {
  background-color: #ea3172;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0px 1px 0px #666666;
  font-size: 1.2em;
  height: 2.4em;
  text-align: center;
  display: inline-block;
  padding: 0px;
  padding-top: 1em;
}
.obsConfirm .button {
  background-color: #4491ce;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0px 1px 0px #666666;
  font-size: 1.2em;
  height: 2.4em;
  text-align: center;
  display: inline-block;
  padding: 0px;
  padding-top: 1em;
}
.breadcrumbs {
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-top: 0.5em;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li a {
  text-decoration: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 4%;
}
.breadcrumbs li a:after {
  content: " >";
}
.dialog {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #888888;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #282828;
  position: fixed;
  top: 40%;
  left: 0px;
  /*display: none;*/
  z-index: 9999;
}
.dialog.clinicalrisk-low {
  background-color: #ccffcc;
}
.dialog.clinicalrisk-medium {
  background-color: #ffdfbe;
}
.dialog.clinicalrisk-high {
  background-color: #ffcccc;
}
.dialog .dialogContent {
  overflow-y: scroll;
}
.dialog .dialogContent * {
  max-width: 100%;
  height: auto;
}
.dialog.obsAlert {
  display: inline-block !important;
}
.dialog h2,
.dialog p {
  padding-left: 5%;
  padding-right: 5%;
}
.dialog dl {
  padding-left: 5%;
  padding-right: 5%;
}
.dialog dl dt {
  font-weight: bold;
  float: left;
  margin-right: 5%;
  width: 40%;
  text-align: right;
  clear: left;
}
.dialog dl dt.twoline {
  height: 2.2em;
}
.dialog dl dd {
  width: 65%;
  margin-right: 5%;
  clear: right;
}
.dialog dl dd.twoline {
  height: 2.2em;
}
.dialog .options li:first-child,
.dialog .options li:first-child a {
  border-bottom-left-radius: 20px;
}
.dialog .options li:last-child,
.dialog .options li:last-child a {
  border-bottom-right-radius: 20px;
}
.dialog #obsSubmit,
.dialog .action {
  color: #ea3172;
  font-weight: bold;
}
.dialog .obsError {
  background-color: red;
  padding: 5%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
  display: none;
}
.dialog .one-col {
  padding: 0px;
  margin: 0px;
  border-top: 1px solid #eeeeee;
}
.dialog .one-col li {
  display: inline;
  background-color: #ffffff;
  width: 100%;
}
.dialog .one-col li a {
  width: 100%;
  padding: 1em 0 1em 0;
  display: block;
  text-align: center;
  background-color: #ffffff;
}
.dialog .one-col li a.cancel {
  color: #4491ce;
  font-weight: normal;
}
.dialog .menu {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.dialog .menu li {
  border-top: 1px solid #eeeeee;
}
.dialog .menu li a {
  padding: 1em 5% 1em 5%;
  width: 90%;
  display: inline-block;
  color: #ea3172;
  font-weight: bold;
}
.dialog select {
  width: 90%;
  height: 2.4em;
  padding: 0.3em 1% 0.3em 1%;
  font-size: 1em;
  line-height: 1.4;
  border-radius: 5px;
  border-color: #4491ce;
  color: #ea3172;
  font-weight: bold;
  background-color: #ffffff;
  margin-bottom: 1em;
  margin-left: 5%;
}
.newsScoreGreen,
#obsScore.green {
  color: green;
}
.newsScoreAmber,
#obsScore.amber {
  color: #ffd5b4;
}
.newsScoreRed,
#obsScore.red {
  color: red;
}
.cover {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  position: absolute;
  top: 0px;
  left: 0px;
}
.patientlist {
  margin: 0;
  padding: 0;
}
.patientlist li {
  display: block;
}
.patientlist li a {
  /*display: block;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    border-bottom: 1px solid #eeeeee;
    font-size: 1.2em;
    color: #282828;
    height: inherit;
    float: none;
    clear: both;
    position: relative;  */
}
.patientlist li a .aside {
  position: absolute;
  right: 5%;
  text-align: right;
  /*top: -1.2em;
      font-size: 0.8em;*/
  width: 37%;
}
.patientlist li a.level-one {
  background-color: #ccffcc;
}
.patientlist li a.level-two {
  background-color: #ffdfbe;
}
.patientlist li a.level-three,
.patientlist li a.urgent {
  background-color: #ffcccc;
}
.footer {
  height: 1.5em;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: inherit;
  padding-left: 0;
  display: inline-block;
}
.footer .user {
  color: rgba(0, 0, 0, 0.3);
  float: right;
  padding: 0;
  margin: 0;
  margin-left: 5%;
}
.chart {
  margin-bottom: 1em;
}
.chart .axis path,
.chart .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
.chart .axis text {
  font-family: sans-serif;
  font-size: 11px;
}
.chart .grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.chart .grid path {
  stroke-width: 0;
}
.chart div.ui-content {
  padding-right: 0px;
}
.table-wrapper {
  position: relative;
  margin-bottom: 2em;
}
.table-wrapper .table-wrapper {
  width: 91.5%;
  overflow: auto;
}
.table-wrapper .table-wrapper #chartTable {
  width: 100%;
}
.table-wrapper .table-wrapper #chartTable th {
  text-align: center;
  font-size: 0.8em;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
}
.table-wrapper .table-wrapper #chartTable th:first-child {
  text-align: left;
  padding-left: 0px;
  border-left: 0px solid black;
}
.table-wrapper .table-wrapper #chartTable tr:nth-child(even) {
  background-color: #dddddd;
}
.table-wrapper .table-wrapper #chartTable tr td {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  border-left: 1px solid #262626;
}
.table-wrapper .table-wrapper #chartTable tr td:first-child {
  text-align: left;
  padding-left: 0px;
  border-left: 0px solid black;
}
.alert {
  border-radius: 5px;
  padding: 2%;
}
.alert.alert-error {
  background-color: #ffcccc;
  color: white;
  text-shadow: 0px 1px 1px #444444;
}
.MEWShide,
.valHide {
  display: none;
}
i {
  font-family: 'fontAwesome';
  font-style: normal;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-info:before {
  content: "\f05a";
}
.icon-person:before {
  content: "\f007";
}
.icon-alert:before {
  content: "\f071";
}
.icon-left-arrow:before {
  content: "\f060";
}
.icon-up-arrow:before {
  content: "\f062";
}
.icon-down-arrow:before {
  content: "\f063";
}
.mobDT {
  width: 30%;
  float: right;
  margin-left: 2%;
}
span.alignright {
  float: right;
}
li.rightContent {
  position: relative;
}
li.rightContent span.aside {
  position: absolute;
  right: 5%;
}
li.popuprightContent {
  position: relative;
}
li.popuprightContent span.aside {
  position: absolute;
  right: 5%;
  width: 10%;
  top: -0.3em;
}
div.contextPopup {
  position: absolute;
  text-align: center;
  width: 5%;
  height: inherit;
  padding: 0.4em 0.25%;
  font: 0.8em sans-serif;
  background: rgba(0, 0, 0, 0.7);
  border: solid 0px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  pointer-events: none;
  color: white;
}
circle.contextPoint {
  fill: black;
  stroke-width: 5px;
  stroke: rgba(0, 0, 0, 0);
}
circle.emptyContextPoint {
  fill: none;
  stroke-width: 1px;
  stroke: #000000;
}
rect.red {
  fill: #ffcccc;
}
rect.amber {
  fill: #ffe9c8;
}
rect.green {
  fill: #ccffcc;
}
.chartDates {
  display: none;
  height: 4em;
}
.chartDates p {
  display: inline-block;
  float: left;
}
.obsChange .obsSelectField {
  border-bottom: 0px solid black !important;
  padding-bottom: 0px !important;
}
.obsChange .obsSubmit {
  padding-bottom: 0px !important;
}
#obsButton {
  margin-bottom: 2em;
}
.card {
  border: 1px solid #dddddd;
  box-shadow: 1px 0px 3px #888888;
  border-radius: 5px;
  margin-bottom: 2em;
}
.card h3 {
  background-color: #4491ce;
  color: white;
  display: block;
  width: 90%;
  padding: 0.2em 5%;
  margin-top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card table {
  margin: 0 5%;
  width: 90%;
}
.card table tr td:first-child {
  font-weight: bold;
  width: 60%;
}
.card table tr td {
  vertical-align: top;
}
.card table tr td table {
  width: 100%;
  margin: 0%;
}
.patient_obs {
  padding: 0.3em 2%;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: 0px 1px 0px #666666;
  background-color: #ea3172;
  width: 100%;
  display: block;
  font-size: 1.2em;
  text-align: center;
}
.full-modal {
  width: 100%;
  height: 100%;
  z-index: 999999999999999;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
}
.full-modal p {
  display: block;
  width: 90%;
  text-align: right;
  padding: 0 5%;
}
.full-modal p a {
  background-color: #4491ce;
  color: white;
  font-weight: bold;
  padding: 0.2em 3%;
  border-radius: 5px;
}
.full-modal iframe {
  width: 100%;
  height: 100%;
}
#table-content,
#graph-content {
  display: inline-block;
  width: 100%;
}
#table-content {
  padding-top: 2em;
}
/* svg stuff */
svg .axis path,
svg .axis line {
  fill: none;
  stroke: #262626;
  shape-rendering: crispEdges;
}
svg .axis text {
  font-family: sans-serif;
}
svg .background .green {
  fill: #ccffcc;
}
svg .background .amber {
  fill: #ffe9c8;
}
svg .background .red {
  fill: #ffcccc;
}
svg .background .normal {
  fill: rgba(0, 0, 0, 0.2);
  stroke: rgba(0, 0, 0, 0.2);
}
svg .background line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.15);
  shape-rendering: crispEdges;
}
svg .brush {
  fill: rgba(0, 0, 0, 0.3);
}
svg .data path {
  fill: none;
  stroke: rgba(40, 40, 40, 0.6);
  shape-rendering: optimizeSpeed;
}
#chart_popup {
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: inline-block;
  padding: 0.5em 1%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  margin-top: -2.2em;
  margin-left: -1.5%;
}
#chart_popup.hidden {
  display: none;
}
.nhtable {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nhtable thead tr th {
  text-align: center;
  font-size: 0.8em;
  border-bottom: 1px solid #262626;
  border-left: 1px solid #262626;
}
.nhtable thead tr th:first-child {
  text-align: left;
  padding-left: 0px;
  border-left: 0px solid black;
}
.nhtable tbody tr:nth-child(even) {
  background-color: #dddddd;
}
.nhtable tbody tr td {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  text-align: center;
  border-left: 1px solid #262626;
}
.nhtable tbody tr td:first-child {
  text-align: left;
  padding-left: 0px;
  border-left: 0px solid black;
}
text.title {
  font-weight: bold;
  font-size: 2em;
}
#controls {
  position: relative;
  width: 80%;
}
#controls div {
  display: inline-block;
  float: left;
  padding: 0px 5% 0px 0px;
}
#controls #range {
  position: absolute;
  top: 0px;
  right: -18%;
  width: 20%;
  padding: 0px;
  text-align: right;
}
#controls label {
  display: inline-block;
}
@media screen and (max-width: 480px) {
  g.brush-container {
    display: none;
  }
}
@media screen and (min-width: 481px) {
  g.brush-container {
    display: inherit;
  }
  #controls #start,
  #controls #end {
    display: none;
  }
}


.barcode_scan{
    margin-bottom: 1em;
    border-radius: 5px;
    width: 100%;
}

.sharelist{
    list-style: none;
    width: 100%;
}

.sharelist li{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eeeeee;
}

.sharelist li .patient-share, .sharelist li .patient_share_nurse{
    flex: 1 0 0;
    align-self: center;
}
.sharelist li label >.block{
    flex: 4 0 0;
    /*border-left: 1px solid #eeeeee;*/
    border-bottom: 0px solid black;
}
#nurse_list .sharelist li > label{
    flex: 4 0 0;
    margin: 0.8em 0;
}
.share-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 101%;
}
.share-footer .user{
    text-align: right;
    margin-right: 6%;
    color: rgba(0, 0, 0, 0.3);
}

#nurse_list .sharelist{
    padding-left: 0;
}

.sharelist li label {
  display: flex;
  position: relative;
  margin-bottom: 0;
  width: 100%;
}

.sharelist li label .block{
    padding-top: 0.7em;
  padding-bottom: 0.7em;
}
.sharelist li label .task-meta {
  width: 100%;
  clear: both;
  float: none;
}
.sharelist li label .task-right {
  float: right;
  width: 27.5%;
  margin-left: 2.5%;
  margin-top: 0px;
  text-align: right;
  font-weight: bold;
}
.sharelist li label .task-right p {
  margin-top: 0px;
  margin-bottom: 1em;
}
.sharelist li label .task-left {
  float: left;
  width: 67.5%;
  margin-right: 2.5%;
  text-align: left;
  margin-top: 0px;
}
.sharelist li label .task-left em{
    font-weight: normal;
    font-style: italic;
}
.sharelist li label h2 {
  width: 65%;
  color: #262626;
}
.sharelist li label p {
  color: #000000;
}
.sharelist li label p.taskInfo {
  text-decoration: underline;
}
.sharelist li label .level-one {
  background-color: #ccffcc;
}
.sharelist li label .level-two {
  background-color: #ffdfbe;
}
.sharelist li label .level-three,
.sharelist li label .urgent {
  background-color: #ffcccc;
}
.sharelist li label .level-not-set {
  background-color: #e5dfff;
}

.sharelist li label.shared{
    background-color: #eeeeee;
}

#assign_nurse .dialogContent input{
    height: 2.4em;
    margin: 0.5em 0;
}

.dialogContent .tasklist{
    list-style: none;
}
.dialogContent .tasklist .block > a{
    padding-bottom: 0;
}
.dialogContent .tasklist .task-meta{
    display: inline-block;
}

.share_invite{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.share_invite .urgent{
    background-color: #ffcccc;
    padding: 1em 5%;
    border-radius: 10px;
}

.share_all{
    background-color: #ea3172;
    padding: 0.8em 2.5%;
    margin: 0.5em 5%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 0px #666666;
}