/*

Joe's Awesome Lozenge Theme 

*/

@font-face{ 
	
font-family: 'FontAwesome';  
src: url('/mobile/src/fonts/fontawesome-webfont.eot?v=4.0.3');
src: url('/mobile/src/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
url('/mobile/src/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
url('/mobile/src/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
url('/mobile/src/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
font-weight: normal;  
font-style: normal;
}

i {  
font-family: 'fontAwesome';  
font-style: normal;  
display: inline-block;  
-webkit-font-smoothing: antialiased;

}

.logo-icon:before {

content: "\f1cc";
font-size: 2em;

}


.pin-key:before {
	
content: "\f084";
color:#fdc855 ;
text-shadow: 0px 2px #a5894c;
font-size:2em;
	
}

/* Bells */

.bell-orange:before {
	
content: "\f0f3";
color: #f97e57;
font-size:1.3em;
z-index: -1;
margin-top:-0.7em;
margin-left:-20px;	
position:absolute;

}

.bell-yellow:before {
	
content: "\f0f3";
color: #f97e57;
font-size:1.6em;
z-index: -1;
margin-top:-0.7em;
margin-left:-75%;	
position:absolute;

}

.bell-green:before {
	
content: "\f0f3";
color: #f97e57;
font-size:1.6em;
z-index: -1;
margin-top:-0.7em;
margin-left:-75%;	
position:absolute;
}

.bell-white:before {
	
content: "\f0f3";
color: #f97e57;
font-size:1.6em;
z-index: -1;
margin-top:-0.7em;
margin-left:-75%;	
position:absolute;

}

/* Clocks */ 

.clock-orange:before {
	
content: "\f017";
color: #89402e;
font-size:3.5em;

}

.clock-yellow:before {
	
content: "\f017";
color: #b28832;
font-size:3.5em;

}

.clock-green:before {
	
content: "\f017";
color: #277e51;
font-size:3.5em;

}

.clock-white:before {
	
content: "\f017";
color: #595959;
font-size:3.5em;

}

/* Score Arrows */

.score-up:before{   

content: "\f0d8";
color: #cb6544;
font-size:3em;
margin-right:-0.4em;
padding-left:1%;

}

.score-mid:before{   

content: "\f0da";
color: #cea145;
font-size:3em;
padding-left:8%;

}

.score-down:before{   

content: "\f0d7";
color: #28754d;
font-size:3em;
margin-right:-0.4em;
padding-left:1%;

}

.score-new:before {

content: "\f068";
color: #878787;
font-size:2em;
margin-right:-0.4em;
padding-left:1%;

}

/* Info Icon */

.info:before {
	
content: "\f129";	
	
}

/* End Icon stuff */

/* Error Icon */

.icon-error:before {
content: "\f06a";
color: #ed1e1e;
font-size:3em;
line-height: 0.3em;


	
}

/* End Error Icon */


html, body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background-color:#d8d4d5;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

#header {

background-color: #ffffff;
/*padding-top:0.1em;*/

}


#topbar {
	border-bottom-color: #bcbcbc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: #ffffff;
	width:100%;
	height:4em;
}

#topbar ul {	

list-style: none;
padding:0;
margin:0;
	
}


#topbar li {
list-style: none;	
display:inline-block;
/*margin-left:5%;*/
}


li.logo {

margin-top:1.2em;
width:25%;
margin-left:3%;
float: left;
}

li.key {
width:5%;
margin-left:1%;

}

li.user {
color:#5c5c5c;
font-size:1.2em;
/* word-wrap: break-word; */
line-height: 1.5em;
width:28%;
padding-left:5%;
padding-right:2%;
text-align: center;

/*overflow:auto;*/

}

li.bell {
position:relative;
z-index: 2;
margin-top:0.5em;
color: #89402e;
font-weight:bold;
font-size:1.2em;
text-shadow:-1px -1px 0 #f97e57,  1px -1px 0 #f97e57,-1px 1px 0 #f97e57,1px 1px 0 #f97e57;
/* height:3em; */

}

li.logout {


background-color: #4491ce;
text-align: center;
border-color: #e6e6e6;

float:right;

margin-top:1em;	
margin-right:2%;

width:17%;
line-height:2em;

height:2em;

/*padding:25%;*/
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

box-shadow:0px 2px 0px #7f7f7f;

}

li.logout a {

text-decoration: none;
text-shadow: 0px 1px 1px #5d5f63;
font-size:1em;
color: #ffffff;
font-weight:300;

width:100%;
display: block;

}

#navbar {
	box-shadow:0px 3px 3px #b5b5b5;
	width:100%;
	height:3em;
	line-height: 3em;
	font-size:1.5em;
	margin-bottom:1em;
	text-align: center;
}

#navbar ul {
list-style: none;

margin:0;
padding:0;

}

#navbar li {
display:inline;

}

#navbar a {

padding-top:0.5em;
padding-left:5%;
padding-right:5%;
padding-bottom:0.5em;

text-decoration: none;
color: #ed558b;
background-color: #e9e9e9;
font-weight:300;
line-height:1em;

text-align:center;
text-decoration:none;
border-color: #d9d7d7;
border-style: solid;
border-width: 1px;
display:inline-block;

-moz-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-webkit-border-radius: 5px;

box-shadow:1px 1px 10px 0px #a6a2a2 inset;

width:35%;

}

#navbar a.on  {

padding-top:0.5em;
padding-left:5%;
padding-right:5%;
padding-bottom:0.5em;

background-color: #ffffff;
color: #4185bb;
font-weight:300;
text-align:center;
text-decoration:none;

border-color: #d9d7d7;
border-style: solid;
border-width: 1px;	

-moz-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-webkit-border-radius: 5px;

box-shadow:1px 1px 10px 0px #efeeee inset;

width:35%;

}

#main {

padding: 0 1% 0 1%;

}

.task {
	
width:100%;
    margin-bottom: 1em;
/*
-webkit-border-radius: 10px; 
border-radius: 10px; 	
*/
}

.row-one {
    clear: both;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    width: 98%;
    padding-left: 2%;
    color: black;
}

.row-one.orange {


background-color: #f97e57;

}

.row-one.yellow {

background-color: #f5bf52;
}

.row-one.green {

background-color: #3cb878;
}

.row-one.white {

background-color: #a7a7a7;

}

.row-two {

width: 100%;
height: 3.1em;
background-color: white;
    margin-top: -0.2em;
	
}

.row-three {
    width: 98%;
    display:inline-block;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
background-color: #ffffff;

border-bottom-color: #717171;
border-bottom-style: solid;
border-bottom-width: 2px;


height:4em;

padding-left: 2%;

margin-top:0px;


}

.task-name {

width:77%;
overflow:auto;
float:left;

}

/* Start Orange */

.task-orange {

color: #ffffff;
font-weight: 400;
font-size: 1.2em;
width: 73.2%;
line-height: 2.2em;
float: left;
border-bottom-color: #cb6544;
border-bottom-style: solid;
border-bottom-width: 2px;
-webkit-border-top-left-radius: 10px;
padding-top: 0.2em;
padding-bottom: 0.2em;

border-right-color: #cb6544;
border-right-style: solid;
border-right-width: 1px;

}

.task-orange span, .task-yellow span, .task-green span, .task-white span {
	text-decoration: none;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    float: right;
    text-shadow: 0px 1px 1px #5d5f63;
    color: #ffffff;
    font-weight: 300;
    background-color: #4491ce;
    text-align: center;
    border-color: #e6e6e6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #7f7f7f;
    width: 13%;
}

.due-orange {

float: right;
font-weight: 600;
text-align: center;

width: 26%;

margin-top:0.7em;
font-size:1.2em;

-webkit-border-top-right-radius: 10px;
background-color: #f97e57;

vertical-align: 50%;

}

.name {
width: 75%;
/* background-color: #ffffff; */
line-height: 3em;
float: left;
font-weight: 600;
/* word-wrap: break-word; */
}

.name a {

color: #ffffff;
float: left;
line-height: 1em;
font-size: 1.8em;
font-weight: 700;
background-color: #4491ce;
text-align: center;
text-shadow: 0px 1px 1px #5d5f63;
border-bottom-color: #7f7f7f;
border-bottom-style: solid;
border-bottom-width: 1px;
border-right-color: #4185bb;
border-right-style: solid;
border-right-width: 1px;
-webkit-border-bottom-right-radius: 10px;
text-decoration: none;
padding: 0.7em 2%;
/* margin-top: -0.96em; */
margin-right: 3%;

}


.bed {
width: 65.2%;
line-height: 2em;
float: left;
color: #2c2c2c;
font-style: italic;
padding-right:2em;

}

.news {

	float:left;
	width:8%;
	height:4.5em;
/* 	padding-top:1em; */

}

.news-score {

	float:left;
	font-weight:600;
	font-size:1.5em;
	margin-top:2em;
	width:5%;
}

.news-arrow {
float:right;
width:10%;
/* margin-top:-1em; */

}


.clockspace-orange {

width: 26%;
/* height: 3.1em; */
float: right;
/* margin-right: 1em; */
/* margin-top: 1em; */
text-align: center;
background-color: #f97e57;
border-left-color: #cb6544;
border-left-style: solid;
border-left-width: 1px

}

.task-time-orange {

width: 26.6%;
font-size: 1.2em;
line-height: 2em;
float: right;
text-align: center;
background-color: #f97e57;
border-left-color: #cb6544;
border-left-style: solid;
border-left-width: 1px;
border-bottom-right-radius: 10px;
	
}

/* End Orange */

/* Start Yellow */

.task-yellow {

color: #0c0c0c;
font-weight: 400;
font-size: 1.2em;
width: 73.2%;
line-height: 2.2em;
/* padding-left: 1%; */
float: left;
/* background-color: #f5bf52; */
border-bottom-color: #cea145;
border-bottom-style: solid;
border-bottom-width: 2px;
-webkit-border-top-left-radius: 10px;
padding-top: 0.2em;
padding-bottom: 0.2em;

border-right-color: #cea145;
border-right-style: solid;
border-right-width: 1px;


}
.due-yellow {

float: right;
font-weight: 600;
text-align: center;

width: 26%;

margin-top:0.7em;
font-size:1.2em;

-webkit-border-top-right-radius: 10px;
background-color: #f5bf52;

}

.clockspace-yellow {

width: 26%;
height: 3.1em;
float: right;
/* margin-right: 1em; */
/* margin-top: 1em; */
text-align: center;
background-color: #f5bf52;
border-left-color: #cea145;
border-left-style: solid;
border-left-width: 1px

}


.task-time-yellow {

width: 26.6%;
font-size: 1.2em;
line-height: 2em;
float: right;
text-align: center;
background-color: #f5bf52;
border-left-color: #cea145;
border-left-style: solid;
border-left-width: 1px;
border-bottom-right-radius: 10px;
	
	
}

/* End Yellow */

/* Start Green */

.task-green {

color: #0c0c0c;
font-weight: 400;
font-size: 1.2em;
width: 73.2%;
line-height: 2.2em;
float: left;
border-bottom-color: #297950;
border-bottom-style: solid;
border-bottom-width: 2px;
-webkit-border-top-left-radius: 10px;
padding-top: 0.2em;
padding-bottom: 0.2em;

border-right-color: #297950;
border-right-style: solid;
border-right-width: 1px;


}

.due-green {

float: right;
font-weight: 600;
text-align: center;

width: 26%;

margin-top:0.7em;
font-size:1.2em;

-webkit-border-top-right-radius: 10px;
background-color: #3cb878;

}

.clockspace-green {

width: 26%;
height: 3.1em;
float: right;
/* margin-right: 1em; */
/* margin-top: 1em; */
text-align: center;
background-color: #3cb878;
border-left-color: #9bb795;
border-left-style: solid;
border-left-width: 1px
}


.task-time-green {

width: 26.6%;
font-size: 1.2em;
line-height: 2em;
float: right;
text-align: center;
background-color: #3cb878;
border-left-color: #9bb795;
border-left-style: solid;
border-left-width: 1px;
border-bottom-right-radius: 10px;
	
}

/* End Green */

/* Start White */

.task-white {

color: #0c0c0c;
font-weight: 400;
font-size: 1.2em;
width: 73.2%;
line-height: 2.2em;
/* padding-left: 1%; */
float: left;
border-bottom-color: #878787;
border-bottom-style: solid;
border-bottom-width: 2px;
-webkit-border-top-left-radius: 10px;
padding-top: 0.2em;
padding-bottom: 0.2em;

word-wrap:break-word;

border-right-color: #878787;
border-right-style: solid;
border-right-width: 1px;

}

.due-white {

float: right;
font-weight: 600;
text-align: center;

width: 26%;

margin-top:0.7em;
font-size:1.2em;

-webkit-border-top-right-radius: 10px;

}

.clockspace-white {

width: 26%;
height: 3.1em;
float: right;
/* margin-right: 1em; */
/* margin-top: 1em; */
text-align: center;
background-color: #a7a7a7;
border-left-color: #878787;
border-left-style: solid;
border-left-width: 1px
}


.task-time-white {

width: 26.6%;
font-size: 1.2em;
line-height: 2em;
float: right;
text-align: center;
background-color: #a7a7a7;
border-left-color: #878787;
border-left-style: solid;
border-left-width: 1px;
border-bottom-right-radius: 10px;
	
}

/* End White */

/* My Patients */


.patient-item {
	display: block;
    width:100%;
    margin-bottom: 1em;
    color: black;
    text-decoration: none;

}

.mypatients {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    width: 98%;
    padding-left: 2%;
}

.patient-item:nth-child(odd) .row-one.mypatients{
    background-color: #fff59d;
}

.patient-item:nth-child(even) .row-one.mypatients{
    background-color: #ffcc80;
}

.row-two.mypatients {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-color: #717171;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-top: -0.3em;
}

.patient-item:nth-child(odd) .row-two.mypatients{
    background-color: #fff59d;
}

.patient-item:nth-child(even) .row-two.mypatients{
    background-color: #ffcc80;
}



.patient-info {

color: #ffffff;
float:left;

width:5%;
height:3.09em;
margin-left:0.85%;

text-decoration: none;

-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-right: 10px;
-webkit-border-right-radius: 10px;

}

.patient-info i{

color: #ffffff;
float:left;
line-height: 1.4em;
width:100%;
font-size:2em;
font-weight:700;

margin-left:-60%;

background-color: #4491ce;
text-align: center;
text-shadow: 0px 1px 1px #5d5f63;

border-bottom-color: #7f7f7f;
border-bottom-style: solid;
border-bottom-width: 1px;
border-right-color: #4185bb;
border-right-style: solid;
border-right-width: 1px;

-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-right: 10px;
-webkit-border-right-radius: 10px;

-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-right: 10px;
-webkit-border-right-radius: 10px;

text-decoration: none;

}

.due-patient {

float: right;
font-weight: 600;
text-align: center;

width: 26%;

margin-top:0.7em;
font-size:1.2em;

-webkit-border-top-right-radius: 10px;

}

.time-patient {
	
width: 26.6%;
font-size: 1.2em;
line-height: 1.5em;
float: right;
text-align: center;
	
}

.bed-patient {
width: 65.2%;
line-height: 2em;
float: left;
color: #2c2c2c;
font-style: italic;
padding-right:2em;

}

.news-patient {

margin-left:2%;
width:6%;
height:4em;
float:left;

}

/*.news-score-patient {
	
	width:3.1%;
	float:left;
	line-height:3em;
	border-bottom-color: #f6f6f6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: center;
	
	border-bottom-color: #717171;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	
	font-weight:600;
	
	margin-bottom: 0.95em;
	
}*/

.score-patient {

margin-top:1.5em;
font-weight:600;
font-size:1.5em;
float:left;

}

.news-arrow-patient {
	
	float:right;
	height:1.1em;
	padding-left:0.5em;
	text-align: right;
}



.name-patient {
	
	width:52.05%;
	background-color:#f6f6f6;
	line-height:3.1em;
	float:left;
	padding-left:0.85%;
	font-weight:600;
}

/* My Patients */

/* Alt My Patients

.alt-patient-info {

color: #ffffff;
float:left;

width:5%;
height:3.09em;
margin-left:0.85%;

background-color: #f5f9dd;
text-decoration: none;

-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-right: 10px;
-webkit-border-right-radius: 10px;

}

.alt-patient-info a {

color: #ffffff;
float:left;
line-height: 1.4em;
width:100%;
font-size:2em;
font-weight:700;

background-color: #4491ce;
text-align: center;
text-shadow: 0px 1px 1px #5d5f63;

border-bottom-color: #7f7f7f;
border-bottom-style: solid;
border-bottom-width: 1px;
border-right-color: #4185bb;
border-right-style: solid;
border-right-width: 1px;

-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-right: 10px;
-webkit-border-right-radius: 10px;

-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-right: 10px;
-webkit-border-right-radius: 10px;

text-decoration: none;

}

.due-patient-alt {

width:33.31%;
line-height:3.1em;
float:right;
margin-right:1em;
text-align: center;

-moz-border-radius-topright: 10px;
-webkit-border-top-right-radius: 10px;

background-color: #f5f9dd;

}

.time-patient-alt {

width:33.30%;
line-height:2.5em;
float:right;
margin-right:0.85em;
text-align: center;
font-weight:600;
color:#4c4c4c;
font-size:1.2em;

background-color: #f5f9dd;

-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
border-bottom-color: #717171;
border-bottom-style: solid;
border-bottom-width: 2px;



margin-bottom: 0.9em;
	
}

.bed-patient-alt {
	
	width:61.05%;
	background-color:#f5f9dd;
	line-height:3em;
	float:left;
	color: #2c2c2c;
	font-style: italic;
	margin-left:1em;
	padding-left:1em;
	
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-color: #717171;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	
	margin-bottom: 0.9em;

}

.news-score-patient-alt {
	
	width:3.1%;
	float:left;
	background-color:#f5f9dd;
	line-height:3em;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: center;
	
	border-bottom-color: #717171;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	
	font-weight:600;
	
	margin-bottom: 1.1em;
	
}

.news-arrow-patient-alt {
	
	width:6.25%;
	float:left;
	background-color:#f5f9dd;
	height:1.1em;
	padding-left:0.5em;
	padding-right:0.5em;
	padding-top:2em;
	text-align: right;
}

.name-patient-alt {
	
	font-weight:600;
	width:52.05%;
	background-color:#f5f9dd;
	line-height:3.1em;
	float:left;
	padding-left:0.85%;
}


 End Alt My Patients */


/* NEWS */

.news-patient-bar {
    width:100%;
    display:inline-block;
}

.news-title {
    color: #ffffff;
    font-size: 1.2em;
    font-style: italic;
    line-height:2em;
    width:23%;
    text-align: center;
    padding-left:1%;
    padding-right:1%;
    float:left;
    border-bottom-color: #762a45;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #ed558b;
    word-break: break-all;
    height: 2em;
    overflow: hidden;
}

.news-name {
    color:#2d2d2d;
    font-size: 1.2em;
    line-height:2em;
    width:66.2%;
    float:left;
    padding-left:1.8%;
    border-bottom: 2px solid #404040;
    background-color: #ffffff;
}

.info-news {
    float:right;
    width:5%;
    font-size: 1.6em;
    padding: 0.16em 1% 0.1em 1%;
    background-color: #4491ce;
    text-align: center;
    border-bottom: 2px solid #224867;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-news a {

color: #ffffff;
text-decoration: none;
text-shadow: 0px 1px 1px #5d5f63;

}

/* NEWS Form */

.news-item {

width:100%;
display:inline-block;
padding: 0em 1% 1em 1%;
margin-top:0;


border-bottom: 1px solid #b7b7b7;

}

.news-item-avpu {

width:100%;
display:inline-block;
padding-left:1%;
padding-right:1%;
margin-top:1em;

margin-bottom:1em;

border-bottom: 1px solid #b7b7b7;

}

.news-desc {
    width:30%;
    padding:0.7em 1% 0.5em 1%;
    text-align: center;
    float:left;
    font-size:1.1em;
    color:#2d2d2d;
}
.news-desc label {
    vertical-align: middle;
}
.box{
    color: #2d2d2d;
    font-size:1.2em;
    margin-top:0.7em;
    margin-left:1%;
    padding-left:2%;
    width:30%;
    height:3em;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow:1px 1px 10px 0px #a6a2a2 inset;
    float:left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.scroll-box{

position:relative;
z-index:4;
top:0px;
left:155px;

width:300px;
height:40px;
background-color: #ffffff;
-moz-border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-webkit-border-radius: 5px;

box-shadow:1px 1px 10px 0px #a6a2a2 inset;


}

.box-list{

position:absolute;
z-index:5;
top:-14px;
left:-40px;

list-style-type: none;
height:28px; 
width:300px;
padding-top:5px;
text-align: center;

overflow:hidden; 
overflow-y:scroll;
overflow: -moz-scrollbars-vertical;

}

.box-list li {

padding:8px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #a6a6a6;

}

.box-list li a {

text-decoration: none;
color:#2b2b2b;

height:30px;
width:160px;

}

.box-list li a:hover {

text-decoration: none;
color:#ffffff;
background-color:#ed558b;

height:30px;
width:160px;

}

.option-space {
    /*width:50%;*/
    width: 32%;
    float:left;
    display: inline-block;
}



.dropdown-space {
    z-index:2;
    width:32%;
    text-align: center;
    height:4em;
    float:left;
}

.device-error {

width:14%;

position: relative;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);

float:right;

opacity: 0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */

}


.exclamation {

float:left;
margin-left:2%;
width:2%;
text-align: center;

}

.errors {
    text-shadow: 1px 2px 1px black;
    width:28%;
    float:right;
    color:white;
    text-align: center;
    line-height:2em;
    padding: 0.1em 1%;
    margin: 0.7em 2% 0em 2%;
    background-color: #ed1e1e;
    opacity: 0.5;
    border-radius: 5px;
}

.news-error-avpu {

width:22%;

position: relative;
top: -5%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);

float:right;

margin-top:0.2em;
margin-right:2%;
margin-left:2%;

color:white;
text-shadow: 1px 2px 1px black;
text-align: center;

line-height:1.8em;

padding:1%;
margin-top:0.2em;
margin-right:2%;
margin-left:2%;

background-color: #ed1e1e;
opacity: 0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-khtml-border-radius: 5px; 

}

.news-error-supp {

width:25%;

position: relative;
top: 37%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);

float:right;

line-height:2em;

margin-top:0.2em;
margin-right:2%;
margin-left:2%;

color:white;
text-shadow: 1px 2px 1px black;
text-align: center;

line-height:2em;

padding:1%;
margin-top:0.2em;
margin-right:2%;
margin-left:2%;

background-color: #ed1e1e;
opacity: 0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-khtml-border-radius: 5px; 

}



/* AVPU Radio Butotns */


ul.avpu {
   width: 100%;
   display:inline-block;
   padding:0;
}

li.avpu {
    margin-right:20%;
}

span.avpu{
padding: 0.2em 5%;

font-size: 1.2em;

color: #2b2b2b;
background-color: #ebebeb;

border-bottom-color: #c3bebe;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

}

span.avpu.selected{
    color: #ffffff;
    text-shadow: 0px 1px 1px #292929;
    background-color: #ed558b;
    border-bottom-color: #762a45;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    z-index:2;
    position:absolute;
    top: -0.1em;
    left: 0;
}
 
input.avpu{
    opacity: 0;
    width:100%;
    height:2.2em;
    cursor: pointer;
    top:-0.6em;
    z-index:3;
    position:absolute;
    left: 0;
}
 
input.avpu[type="radio"] + span{ /*the span element that immediately follow the radio button */
visibility: hidden; /*temporarily hide the "Selected" label*/
color: #ffffff;
text-shadow: 0px 1px 1px #292929;

background-color: #ed558b;

border-bottom-color: #762a45;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px;
    position: absolute;
    top: -0.2em;
    left: 0;
}
 
input.avpu[type="radio"] + span:after{
	/* content: "Selected"; */
	
}
 
 
input.avpu[type="radio"]:checked + span{
	visibility: visible; /*show the "YES" label only if the radio button is checked*/
}

/* Supplemental O2 */

.avpu li {
    display:inline-block;
    position: relative;
    margin-right: 5%;
    margin-bottom: 1.5em;
}

span.supp{
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;

font-size: 1.2em;

color: #2b2b2b;
background-color: #ebebeb;

border-bottom-color: #c3bebe;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

}

span.supp-selected{

padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;

font-size: 1.2em;

color: #ffffff;
text-shadow: 0px 1px 1px #292929;

background-color: #ed558b;

border-bottom-color: #762a45;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

top:-3em;
z-index:2;
position:relative;

}
 
span.supp:after{
	/* content: "unselected"; */ /*if CSS is disabled span elements are not displayed*/

}
 
input.supp{

/*hide the radio button*/

filter:alpha(opacity=0);
-moz-opacity:0;
-khtml-opacity: 0;
opacity: 0;

width:100%;
height:2em;

cursor: pointer;

text-align: center;


top:-2.2em;
z-index:3;
position:relative;
    
}
 
input.supp[type="radio"] + span{ /*the span element that immediately follow the radio button */
visibility: hidden; /*temporarily hide the "Selected" label*/
color: #ffffff;
text-shadow: 0px 1px 1px #292929;

background-color: #ed558b;

border-bottom-color: #762a45;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 
}
 
input.supp[type="radio"] + span:after{
	/* content: "Selected"; */
	
}
 
 
input.supp[type="radio"]:checked + span{
	visibility: visible; /*show the "YES" label only if the radio button is checked*/
}


/*.supp li {

margin-right:100%;
display:inline;

}*/

ul.supp {

width:48%;
	
list-style: none;
display:-webkit-inline-box;
padding:0;
	
}

/* Supplemental O2 End */

/* Dropdown Select */

.avpu-dropdown {	


}


/*option:checked {

color: #ffffff;
text-shadow: 0px 1px 1px #292929;

background-color: #ed558b;

border-bottom-color: #762a45;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

}*/

select {
    padding: 0.2em 2%;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #2b2b2b;
    font-size:1.2em;
    background-color: #ebebeb;
    border:none;
    border-bottom: 2px solid #c3bebe;
    border-radius: 5px;
    -webkit-appearance:none;
    outline:none;
    width: 100%;
}


/*select:active {
    color: #ffffff;
    text-shadow: 0px 1px 1px #292929;
    background-color: #ed558b;
    border-bottom: 2px solid #762a45;
    border-radius: 5px;
} */



.selectOption {
	
padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;

font-family: Helvetica, Verdana, Arial, sans-serif;

color: #2b2b2b;
font-size:1.2em;

background-color: #ebebeb;

border-bottom-color: #c3bebe;
border-bottom-style: solid;
border-bottom-width: 2px;
	
}

/* AVPU Buttons end */

.button-space {

text-align: center;
margin-top:1em;


}

#submit-obs, #submitButton {
    text-shadow: 0px 1px 1px #292929;
    color: #ffffff;
    font-size:18px;
    text-align: center;
    padding:10px;
    text-decoration: none;
    border:0;
    border-bottom: 2px solid #762a45;
    border-radius: 5px;
    width:50%;
    height:3em;
    margin-left: auto ;
    margin-right: auto ;
    background-color: #ed558b;
    margin-bottom:1em;
}

.obsSubmit{
    text-align: center;
}




/* Info Overlay */

/*#lightbox-effect {
	height:100%;
	width: 480px;
	
	background-color: #000000;
	opacity: 0.7;
	font-family: sans-serif, Helvetica, Verdana, Arial;
} */

#info-overlay, .dialog{

position:absolute;
z-index:101;
left:40%;

background-color: #fdf39c;
width: 300px;
padding: 0 2% 1em 2%;

box-shadow:0px 2px 0px #1f1f1f;
border-radius: 10px;

}

td.info-overlay-name, .dialog h2 {
padding-bottom: 0.2em;
width:100%;
font-weight: 900;
color:#303030;
font-size:20px;

}

td.info-overlay-sex, .dialog .alignright {
float: right;
}
.dialog dl{
    display: inline-block;
    clear: both;
    float: none;
    width: 100%;
}

td.question, .dialog dt {
    font-weight:600;
    color:#303030;
    width:45%;
    padding: 0.2em 2.5%;
    float: left;
    margin: 0;
    height: 2em;
}

td.answer, .dialog dd {
    font-weight:200;
    color:#303030;
    padding:0.2em 2.5%;
    float: right;
    width: 45%;
    margin: 0;
    height: 2em;
}

a.info-button, #patient_obs_fullscreen{


color: #ffffff;
text-align: center;
padding:0.8em 13%;
text-decoration: none;

z-index:1;

width:96%;
height:1.5em;

text-shadow: 0px 1px 1px #5d5f63;
font-weight:300;
background-color: #4491ce;
border-color: #e6e6e6;
border-radius: 5px;

box-shadow:0px 2px 0px #7f7f7f;

}

#patient_info .options{
    display: none;
}

.dialog .options{
    width: 100%;
    padding: 0;
    margin: 2em 0 1em 0;
    list-style: none;
    text-align: center;
}
.dialog .options li{
   display: inline;
    margin-right: 5%;
}
.dialog .options li:last-child{
    margin-right: 0;
}
.dialog .options li a{
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0px 1px 1px #5d5f63;
    font-weight:300;
    background-color: #4491ce;
    border-color: #e6e6e6;
    border-radius: 5px;
    box-shadow:0px 2px 0px #7f7f7f;
    text-align: center;
    padding: 0.5em 5%;
}

.cover{
    background-color: #262626;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.85;
}

/* Info Overlay End */



/* My Patients Style start */

a.info-mypatient {

position:absolute;
z-index:1; 
top:0px;
left:0px;

font-size:22px;
color: #ffffff;

width:18px;
height:27px;
background-color: #4491ce;
text-align: center;
text-shadow: 0px 1px 1px #5d5f63;

border-bottom-color: #7f7f7f;
border-bottom-style: solid;
border-bottom-width: 1px;
border-right-color: #4185bb;
border-right-style: solid;
border-right-width: 1px;

-moz-border-radius-topleft: 10px;
-webkit-border-top-left-radius: 10px;
-moz-border-radius-left: 10px;
-webkit-border-left-radius: 10px;

-moz-border-radius-bottomright: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-right: 10px;
-webkit-border-right-radius: 10px;

text-decoration: none;

}

p.time-mypatient {

font-size:18px;
color: #4c4c4c;
font-weight:bold;
text-transform: uppercase;
position:absolute;
z-index:1;
top:25px;
right:35px;

width:75px;
text-align: center;

}

p.job-mypatient {

font-size:16px;
color: #0c0c0c;

position:absolute;
z-index:1;
top:5px;
right:20px;

}

.mypatient-item {
position:relative;
z-index:2;
top:-5px;
left:10px;

width:460px;
height:80px;
background-color: #f6f6f6;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;

border-bottom-color: #717171;
border-bottom-style: solid;
border-bottom-width: 2px;

margin-bottom:-5px;

}

.mypatient-item-alt {
position:relative;
z-index:2;
top:-5px;
left:10px;

width:460px;
height:80px;
background-color: #f5f9dd;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;

border-bottom-color: #717171;
border-bottom-style: solid;
border-bottom-width: 2px;

margin-bottom:-5px;

}

/* My Patients Style end */


.news-entry {

position:relative;
z-index:5;
top:10px;
left:-130px;
color:#3e3e3e;
font-size: 18px;
width:285px;
}

/* AVPU Start */

.select-avpu {

}

.select-avpu li {

list-style-type: none;
display:inline-block;

margin-top:-5px;
margin-left:2px;
}

.select-avpu li a {

text-decoration: none;

padding-left:10px;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;

color: #2b2b2b;
background-color: #ebebeb;

border-bottom-color: #c3bebe;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

}

.select-avpu li a:hover {

text-decoration: none;
color: #ffffff;
text-shadow: 0px 1px 1px #292929;

background-color: #ed558b;

border-bottom-color: #762a45;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

}

/* AVPU End */

/* Supplemental 02 Start */

.select-supp {

/* text-align: center; */

}

.select-supp li {

list-style-type: none;
display:inline-block;

margin-top:-10px;
margin-left:60px;
}

.select-supp li a {

text-decoration: none;

padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;

color: #2b2b2b;
background-color: #ebebeb;

border-bottom-color: #c3bebe;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

}

.select-supp li a:hover {

text-decoration: none;
color: #ffffff;
text-shadow: 0px 1px 1px #292929;

background-color: #ed558b;

border-bottom-color: #762a45;
border-bottom-style: solid;
border-bottom-width: 2px;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 


}

/*News Scrollbar Start */

/* Supplemental 02 End */


p.news-item-title {

position:relative;
z-index:3;
top:-3px;
left:10px;

float:left;
width:140px;
height:45px;

color:#4e4e4e;
text-align: center;

}

p.news-item-title-longer {

position:relative;
z-index:3;
top:-13px;
left:10px;

float:left;
width:140px;
height:45px;

color:#4e4e4e;
text-align: center;

}

p.location-mypatient {

font-size:14px;
color: #2c2c2c;
font-style: italic;
position:relative;
z-index:1;
top:-8px;
left:60px;

}



/* News Style end */

/* Login Screen */

#wrapper-login {

height:100%;
width: 480px;
background-color:#f4f4f4;
font-family: sans-serif, Helvetica, Verdana, Arial;

}

li.welcome-text {

float:right;
width:70%;

margin-top:1em;

font-size:1.2em;
color:#5c5c5c;

}

.login-section {

margin-top:2em;
margin-bottom:2em;

background-color:#f4f4f4;
width:100%;
height:4.5em;
box-shadow: 0 0 2px 5px #f4f4f4;

color:747474;
font-size:1.1em;

/*padding-top:1%;*/

}

.login-section label {

padding-left:5%;
padding-right:5%;
line-height:4.5em;
float:left;

}

.login-box{

color: #2d2d2d;
font-size:1.2em;

margin-top:0.7em;
margin-left:1%;
padding-left:2%;

width:70%;
height:2.5em;

background-color: #ffffff;

box-shadow:1px 1px 10px 0px #a6a2a2 inset;

}

ul.login-screen {

width:100%;
list-style: none;
text-align: center;


}

li.login-button {


text-shadow: 0px 1px 1px #292929;

display:inline;

text-align: center;
padding: 1.2em 2%;

width:25%;
margin-right:5%;

background-color: #4491ce;
text-shadow: 0px 1px 1px #5d5f63;
color: #ffffff;
font-weight:300;
text-align: center;
border-color: #e6e6e6;

-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; 
-khtml-border-radius: 5px; 

box-shadow:0px 2px 0px #7f7f7f;

}

li.login-button a {

width:100%;
text-decoration: none;
color: #ffffff;

font-size:1.2em;
}

li.login-button button {
 background: none;
 color: #ffffff;
 font-size: 1.2em;
 border: 0px solid black;
 text-align: center;
 padding: 1.2em 2%;
}

/*Login Screen End */

/* Pin Overlay */

#lightbox-effect {
	height:100%;
	width: 480px;
	
	background-color: #000000;
	opacity: 0.7;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	
	font-family: sans-serif, Helvetica, Verdana, Arial;
}

#pin-overlay {

position:absolute;
z-index:1; 
top:240px;
left:85px;

background-color: #efecbf;
width: 300px;
height:200px;
padding:10px;

box-shadow:0px 2px 0px #1f1f1f;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; 
-khtml-border-radius: 10px; 

}

.pin-user {

position: relative;
z-index: 2;
top:0px;
left:0px;

font-size:24px;
font-weight:600;
width:280px;
padding-left:10px;
padding-right:10px;
text-align: center;

}

.pin-text {

position: relative;
z-index: 2;
top:0px;
left:0px;

font-size:18px;
font-weight:500;
width:280px;
padding-left:10px;
padding-right:10px;
text-align: center;

}

.pin-number {

position: relative;
z-index: 2;
top:-20px;
left:0px;

font-size:38px;
font-weight:600;
width:280px;
color:#99252a;
padding-left:10px;
padding-right:10px;
text-align: center;

}


/* Pin Overlay End */

/* Screen responses */ 

/* Tablet - Portrait */

@media (max-width : 480px) {

/* Task Orange */

.task-orange, .task-yellow, .task-green, .task-white {
	
	/* text-align: center; */
	
	line-height:1.5em;
	
}

.task-orange a, .task-yellow a, .task-green a, .task-white a {

width:18%;
height:auto;
line-height:1.5em;
padding-left:0;
text-align: center;

}

.due-orange, .due-yellow, .due-green, .due-white {

/* line-height: 8em; */
font-size:1.3em;

}

.row-two {

height:6em;

	
}

.name {
		
width:75%;		
height:4.5em;
padding-left:2%;
word-wrap: break-word;
	
}

.name a {
	
margin-left:-5%;
padding-top:3%;
padding-bottom:3%;
padding-left:3%;
padding-right:3%;
	
}



.clockspace-orange, .clockspace-yellow, .clockspace-green, .clock-space-white {
	
height:6em;
line-height: 4.5em;
	
}

.bed {
	
	width:70%;
	padding-right:0em;
	line-height:1em;
	
}


.news {

padding-left:3%;	
width:6.5%;
height:4.5em;

}


.news-score {

height:2em;
margin-top:1.5em;
padding-left:10%;
width:8%;
	
}

.task-time-orange, .task-time-yellow, .task-time-green, .task-time-white {

height:3.1em;
line-height:3em;

}


/* News Obs Start */



}

@media (max-width : 640px) and (min-width: 482px) {

.task-orange a, .task-yellow a, .task-green a, .task-white a {

width:97%;

}

}

@media (min-width : 750px)  {

.news-arrow {
	
margin-left:15%;
margin-top:2em;
padding:0;
	
}

.task-time-orange, .task-time-yellow, .task-time-green, .task-time-white {
	
height:3.1em;
line-height:3em;

}
	
}

.task-orange a, .task-yellow a, .task-green a, .task-white a {

/*
width:99%;
padding-left:0;
*/

}

.name {
width: 54%;
margin-top:1em;
/* background-color: #ffffff; */
line-height: 1.5em;
float: left;
font-weight: 600;
padding-left:2%;
word-wrap: break-word;
}

.name a {
	
/* 	margin-left:-4%; */
/*width:5%;*/
height:1.5em;
margin-top:-0.6em;
margin-left:-3.5%;
line-height:1.5em;
	
}

.row-two {
	
height:5.5em;

}

.news {

padding-left:3%;	
width:5%;
height:4.5em;

}



.due-orange, .due-yellow, .due-green, .due-white {

/*
line-height: 2.5em;
font-size:1.5em;
*/

}

.task-time-orange, .task-time-yellow, .task-time-green, .task-time-white {
	
font-size: 1.3em;

}
	


.clockspace-orange, .clockspace-yellow, .clockspace-green, .clockspace-white {
	
height:5.5em;
line-height:5em;
	
}

.bed {
	
padding-right:0;
/* margin-top:1em; */
line-height:2em;
	
}

/* NEWS AVPU */

/*.news-extra-avpu {

width:30%;

position: relative;
top: 40%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);

float:right;

text-align: center;

line-height:2em;

padding:1%;
margin-top:0.2em;
margin-right:2%;
margin-left:2%;*/






/* Charts */

#chart-block-top {

    width:100%;
    display: inline-block;
    background-color: #fdf39c;
    border-color: #e6e6e6;
    border-radius: 5px;
    box-shadow:0px 2px 0px #7f7f7f;
    margin-bottom:1.5em;
}

.chart-patient-info {

    float:left;
    padding: 0em 2%;
    width:45%;
    line-height: 1.5em;
}

h3.obs {
    float:right;
    text-shadow: 0px 1px 1px #292929;
    display:inline;
    text-align: center;
    padding:0.7em 2%;
    width:40%;
    margin-right:5%;
    background-color: #4491ce;
    text-shadow: 0px 1px 1px #5d5f63;
    color: #ffffff;
    font-weight:300;
    text-align: center;
    border-color: #e6e6e6;
    border-radius: 5px;
    box-shadow:0px 2px 0px #7f7f7f;
}

h3.obs a {
    width:100%;
    text-decoration: none;
    color: #ffffff;
    font-size:1.2em;
}

ul.tabs {
    box-shadow:0px 3px 3px #b5b5b5;
    height:3em;
    line-height: 3em;
    font-size:1.5em;
    text-align: center;
    background-color:#f4f4f4;
    border-bottom: 1px solid #dedede;
    list-style: none;
    width:100%;
    margin:0;
    padding:0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabs li {
    display:inline;

}

.tabs a  {
    padding:0.5em 5%;
    background-color: #f0f0f0;
    color: #4185bb;
    font-weight:300;
    line-height:1em;
    text-align:center;
    text-decoration:none;
    border: 1px solid #d9d7d7;
    display:inline-block;
    border-radius: 5px;
    box-shadow:1px 1px 10px 0px #efeeee inset;
    width:35%;
}

.tabs a.selected {
    color: #ed558b;
    background-color: #e9e9e9;
    box-shadow:1px 1px 10px 0px #a6a2a2 inset;
}

#graph-content {
    width:98%;
    background-color:#f4f4f4;
    padding:1%;
}

#chart-section {
    padding-bottom:2em;
    border-bottom: 1px solid black;

}

.chartDates{
    float:left;
    font-size: 1.2em;
    background-color:#ffffff;
    width:39.5%;
    text-align: center;
    padding: 0.5em 5% 1.5em 5%;
    border-top-left-radius: 10px;
    margin-bottom: 1.5em;
}

.chartDates:nth-child(odd){
    background-color:#fefefe;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-left: 1px solid #d9d7d7;
}

.mobDT{
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #2d2d2d;
    font-size:1em;
    margin:0 1% 1em 0;
    text-align: center;
    height:2em;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow:1px 1px 7px 0px #a6a2a2 inset;
}

h3.table-title {
    font-size:1.5em;
    /*width:96%;*/
    display: inline-block;
    line-height:2em;
    text-align: center;
    background-color:#dae5f4;
    margin:0;
    padding:0 5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#table-content {
    background: white;
    padding: 2em 2% 0 2%;
}

.patient-values-container {
    border-radius: 10px;
    margin-bottom: 2em;
}

.cat {
    color:#363636;
    font-weight:bold;
    font-size:1.2em;
}

.top-left {
    color:#363636;
    font-weight:bold;
    font-size:1.2em;
    border-top-left-radius: 10px;
}

.top-right {
    border-top-right-radius: 10px;
}


.bottom-left {
    color:#363636;
    font-weight:bold;
    font-size:1.2em;
    border-bottom-left-radius: 10px;
}

.bottom-right {
    border-bottom-right-radius: 10px;
}

.values-time tr {
    width:100%;
}

.patient-values td {
    width:10%;
    padding:0.3em 0 0 2%;
    vertical-align: top;
}

.patient-values tr:nth-child(odd) {
    background: #b8d1f3;
}

.patient-values tr:nth-child(even) {
    background: #dae5f4;
}


/* Charts End */


@media (max-width: 800px){
    .mobDT {
        width: 100%;
    }
}

/* Confirm Action */



.action-patient-bar {
    width:100%;
    display:block;
    height:2em;
    margin-bottom:2em;
}



.action-text {
    width:96%;
    display:block;
    padding:0.2em 2% 1.2em 2%;
    height:8.5em;
    margin-bottom:1em;
    background-color:#f4f4f4;
    box-shadow: 0 0 12px 5px #f4f4f4;
}



.action-dropdown {
    width:100%;
    text-align: center;
    height:4em;
}



.confirrm-cancel {
    width:100%;
    margin-top:2.5em;
    height:4em;
}



ul.cancel-buttons {
    list-style: none;
    text-align: center;
}



.cancel-buttons li {
    text-shadow: 0px 1px 1px #292929;
    display:inline;
    text-align: center;
    padding:1em 2%;
    width:25%;
    margin-right:5%;
    background-color: #4491ce;
    text-shadow: 0px 1px 1px #5d5f63;
    color: #ffffff;
    font-weight:300;
    text-align: center;
    border-color: #e6e6e6;
    border-radius: 5px;
    box-shadow:0px 2px 0px #7f7f7f;
}



.cancel-buttons li input {
    text-decoration: none;
    color: #ffffff;
    font-size:1.2em;
    background: none;
    border: none;
}



/* Confirm Action End */

@media (max-width : 480px) {
    .action-text {
        width:96%;
        display:block;
        padding:0.2em 2% 1.2em 2%;
        height:10em;
        margin-bottom:1em;
        background-color:#f4f4f4;
        box-shadow: 0 0 12px 5px #f4f4f4;
    }
}

.hidden_el{
    display: none;
}